<?xml version="1.0" encoding="UTF-8"?>
<!--
  Reusable Logback configuration that decorates the Spring Boot default
  console pattern with the current traceId and spanId from MDC.

  Include from your application's logback-spring.xml:

    <include resource="logback-trace-pattern.xml"/>

  Or replace your application.xml entirely with this file's <configuration/>
  element.
-->
<included>
  <property name="LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId:-},%X{spanId:-}] [%t] %-40.40logger{39} : %m%n%wEx"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</included>